

:root {
    --bs-gradient: linear-gradient(180deg, rgb(158, 158, 108), rgb(235, 230, 140));
    --bs-gradient-copper: linear-gradient(180deg, rgb(227, 152, 95), rgb(235, 194, 140));

    
}
.bg-gradient {
    background-image: var(--bs-gradient) !important;
}
.bg-main-gradient{
//background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
background: linear-gradient(109.6deg, rgb(44, 66, 94) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}



// .fs-1 {
//     font-size: calc(3.5rem + 1.5vw) !important;
// }


.carousel{
    margin-top: 5px;
}

.carousel-item img {
    
  object-fit: cover;
  object-position: center;
  height: 30vh;
  overflow: hidden;
}


.social {
    .whatsApp{
        color: var(--bs-green);
        background-color: var(--bs-white);
    }
    .facebook{
        color: var(--bs-white);
    }

    .instagram{
        color: var(--bs-red);
    }
    

}


.social-icons{
    // color:var(--bs-white);
    background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
    font-size: calc(2.5rem + 1.5vw) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-youtube-icons{
    color:var(--bs-red);
}


.logo img {
    max-width: 180px;
}

.logo-text {
    font-size: 30px;
    font-family: "Aktiv Grotesk", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo-slogan {
    color: gold;
}

.contact-icons{
    // background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
    font-size: calc(3.5rem + 1.5vw) !important;
    // -webkit-background-clip: text;
    -webkit-text-fill-color: var(--bs-white);
}

